body{
  font-family: 'Aladin', cursive;
  color: #EBE645;
  background-color: #000957;
}
.select-width {
  width: fit-content;
}
.flex-container-end{
  display: flex;
  justify-content: end;
}
.flex-container-start{
  display: flex;
  justify-content: start;
}

.content-color{
  background-color: #023e8a;
}

.hides{
  display: none;
}