body{
  font-family: 'Aladin', cursive;
  background-color: #4361ee;
  color: #ebe645;

}
.navbar-brand{
  color: #023e8a;
}
.navbar-brand:hover{
  color: #023e8a;
  filter: brightness(80%);
}
#resultDiv{
  background-color: #ebe645;
}

.genie-icon{
  max-width: 3.5rem;
}